form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input,textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
}
/*  
input:focus,textarea:focus {
     Additional highlight for focused elements 
    border-color: #000;
}
*/ 
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}
.toggleButton {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
    vertical-align: top;
    background: #BF0603;
    border: 1px solid #BF0603;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton:focus{
    outline: none;
}

.toggleButton::after {
    content: "";
  
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
  
    width: 15px;
    height: 15px;
    background-color: #ffd9e0;
    border-radius: 50%;
    
  
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #b7efc5;
    
      
}
.toggleButton:checked {
    background-color:#008000;
    border: 1px solid #008000;
}
/* These rules are for the books */

.booksContainer{
	display: flex;
	justify-content: center;
}
.book{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: relative;
    border: 2px solid;
    border-radius: 10px;
    min-width: 350px;


}
.delete{
	position: absolute;
	left: 95%;
	top: -15px;
	/* margin: 0; */
}
.bookTitle{
    margin: 10px 0 5px 0;
    
}
.bookAuthor{
    margin: 5px 0 5px 0;
}
.sep{
    border-top: 1px solid;
    margin:5px 0 5px 0;
    width: 97%;
}
.pages{
    margin:5px 0 5px 0;
}
.bookToggle{
    margin:5px 5px 10px 0;
    align-self: flex-end;
    font-size: 10px;
}
.toggleButton-Book {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 13px;
    margin: 0;
    vertical-align: top;
    background: #BF0603;
    border: 1px solid #BF0603;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton-Book:focus{
    outline: none;
}

.toggleButton-Book::after {
    content: "";
  
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 1.5px;
  
    width: 8px;
    height: 8px;
    background-color: #ffd9e0;
    border-radius: 50%;
    
  
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton-Book:checked::after {
    transform: translateX(100%);
    background-color: #b7efc5;
    
      
}
.toggleButton-Book:checked {
    background-color:#008000;
    border: 1px solid #008000;
}